body {
    background: #003399;
    color: #dfdfdf;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;

}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

div.top {
	background: #000000;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 80px;
	width: 100%;
}

div.sidebar {
	margin: 0px;
	border-right: 1px dotted #dfdfdf;
	padding: 5px;
	width: 20%;
	height: 100%;
}



div.mainpage {
	position: absolute;
	top: 95px;
	left: 20%;
	margin-right: 0px;
	padding: 5px;
	padding-left: 30px;
	font-size: 16px;
	width: 75%;
}

div.mptitle {
	padding-left: 0 px;
	font-size: 24px;
	font-weight: bold;
	color: #FFCC00;
	border-bottom: 1px solid #005098;
	margin-bottom: 10px;
	width: 100%;
}

div.mpsubtitle {
        padding-left: 0 px;
	padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #FFCC00;
        border-bottom: 1px solid #005098;
        margin-bottom: 10px;
        width: 100%;
}

div.mpsongcomment {
	padding-left: 40px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

div.box {
	margin-bottom: 15px;
}
div.boxtitle {
	background-color: #000000;
	color: #FFCC00;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
div.boxcontent {
	margin-top: 2px;
	border-top: 1px dotted #000000;
}

div.boxlink {
	margin-top:0px;
	margin-bottom: 1px;
	border-bottom: 1px solid #001a4f;
	text-align: center;
}
div.boxlink:hover {
	background-color: #a9c3df;
}
a.boxlink:hover {
	color: #000000;
}

