body {
    background: #003399;
    color: #dfdfdf;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;

}

td {
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;
	color: #dfdfdf;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

div.top {
	background: #000000;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 80px;
	width: 100%;
}

div.sidebar {
	margin: 0px;
	border-right: 1px dotted #dfdfdf;
	padding: 5px;
	width: 20%;
	height: 100%;
}



div.mainpage {
	position: absolute;
	top: 95px;
	left: 20%;
	margin-right: 0px;
	padding: 5px;
	padding-left: 30px;
	font-size: 16px;
	width: 75%;
}

div.mptitle {
	padding-left: 0 px;
	font-size: 24px;
	font-weight: bold;
	color: #FFCC00;
	border-bottom: 1px solid #005098;
	margin-bottom: 10px;
	width: 100%;
}

div.mpsubtitle {
        padding-left: 0 px;
	padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #FFCC00;
        border-bottom: 1px solid #005098;
        margin-bottom: 10px;
        width: 100%;
}

div.mpsongcomment {
	padding-left: 40px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

div.box {
	margin-bottom: 15px;
}
div.boxtitle {
	background-color: #000000;
	color: #FFCC00;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
div.boxcontent {
	margin-top: 2px;
}

div.boxlink {
	margin-top:0px;
	margin-bottom: 1px;
	border-bottom: 1px solid #005098;
	text-align: center;
}
div.boxlink:hover {
	background-color: #005098;
}
a.boxlink:hover {
	color: #000000;
}

span.buttonedit {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 2px outset #FFCC00;
	background-color: #003399;
	color: #FFCC00;
	font-size: 12px;
}

span.buttonedit:hover {
        background-color: #FFCC00;
        color: #003399;
}

div.listelement {
        font-size: 14px;
        font-weight: normal;
        color: #FFCC00;
        border-bottom: 1px solid #005098;
	border-top: 1px solid #005098;
	padding-bottom: 3px;
	padding-top: 3px;
}
div.listelement:hover {
        background-color: #005098;
}
span.titlefont {
	font-size: 16px;
}

span.relevance {
	font-size: 10px;
	color: #dfdfdf;
	font-style: italic;
}

div.recorded {
	text-align: right;
	font-size:12px;
	font-style: italic;
}

div.sysmsg {
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	width: 50%;
	padding: 5px;
}

.searchform {
	margin-left: 60px;
	margin-right: 60px;
	font-size: 12px;
	line-height: 25px;
}
